In [2]:
import pandas as pd
rowdata={'电影名称':['无问西东','后来的我们','前任3','红海行动','唐人街探案','战狼2'],
        '打斗镜头':[1,5,12,108,112,115],
        '接吻镜头':[101,89,97,5,9,8],
        '电影类型':['爱情片','爱情片','爱情片','动作片','动作片','动作片']
        }
movie_data = pd.DataFrame(rowdata)
movie_data

    电影名称  打斗镜头  接吻镜头 电影类型
0   无问西东     1   101  爱情片
1  后来的我们     5    89  爱情片
2    前任3    12    97  爱情片
3   红海行动   108     5  动作片
4  唐人街探案   112     9  动作片
5    战狼2   115     8  动作片

In [6]:
new_data = [24,67]
data = movie_data.iloc[:,1:3]
data

   打斗镜头  接吻镜头
0     1   101
1     5    89
2    12    97
3   108     5
4   112     9
5   115     8

In [10]:
(((data-new_data)**2).sum(1))**0.5

0     41.048752
1     29.068884
2     32.310989
3    104.403065
4    105.394497
5    108.452755
dtype: float64

In [11]:
dist = list((((data-new_data)**2).sum(1))**0.5)
dist

[41.048751503547585,
 29.068883707497267,
 32.31098884280702,
 104.4030650891055,
 105.39449701004318,
 108.45275469069469]

In [12]:
dist_len = pd.DataFrame({'dist':dist,'labels':(movie_data.iloc[:,3])})
dist_len

         dist labels
0   41.048752    爱情片
1   29.068884    爱情片
2   32.310989    爱情片
3  104.403065    动作片
4  105.394497    动作片
5  108.452755    动作片

In [13]:
k=4
dr = dist_len.sort_values(by='dist')[:k]
dr

         dist labels
1   29.068884    爱情片
2   32.310989    爱情片
0   41.048752    爱情片
3  104.403065    动作片

In [14]:
re = dr.loc[:,'labels'].value_counts()
re

爱情片    3
动作片    1
Name: labels, dtype: int64

In [15]:
re.index[0]

'爱情片'

In [16]:
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings('ignore')

In [17]:
X = movie_data[['打斗镜头','接吻镜头']]
y = movie_data['电影类型']

knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(X,y)

new_data=[[24,67]]
predict_type = knn.predict(new_data)
print(f'预测的新电影类型是：{predict_type[0]}')

预测的新电影类型是：爱情片